<div class="row mt-2">
  <div class="col-9">
    <div class="flickr_pagination mb-3">
      <%= will_paginate @articles, :container => false %>
    </div>
    <% @articles.each do |article| %>
      <div class="card bg-dark shadow rounded">
        <div class="card-header text-white">
          <%= article.user.username %>
          <div class="text-muted text-right">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago</small>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-white"><%= article.title %></h5>
          <p class="card-text text-white"><%= truncate(article.description, length: 100) %></p>
          <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
        </div>
      </div>
    <% end %>
    <div class="flickr_pagination mt-3 mb-4">
      <%= will_paginate @articles, :container => false %>
    </div>
  </div>
  <div class="col-3 mt-5">
    <div class="card text-white bg-dark shadow rounded">
      <div class="card-body">
        <h5 class="card-title">Categories(0)</h5>
      </div>
    </div>
  </div>
</div>