<div class="container mb-4">
  <div class="row">
    <div class="col-9">
      <h1 class="mt-4 text-center text-white"><%= @article.title %></h1>
    </div>
    <div class="col-3">
      <h1 class="mt-4 text-center text-white"></h1>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-9">
      <div class="card bg-dark shadow rounded">
        <div class="card-header text-white">
          <%= @article.user.username %>
          <div class="text-muted text-right">
            <small>Created <%= time_ago_in_words(@article.created_at) %> ago</small>
          </div>
        </div>
        <div class="card-body">
          <div class="card-text"><%= simple_format(@article.description, class: "text-white") %></div>
          <%= link_to "View Profile", user_path(@article.user), class: "btn btn-outline-success" %>
          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
            <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Delete
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card text-white bg-dark shadow rounded">
        <div class="card-body">
          <h5 class="card-title">Comments(0)</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Delete Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-white">
        Are you sure?
      </div>
      <div class="modal-footer">
        <%= link_to "Yes", article_path(@article), method: :delete, class: "btn btn-outline-danger" %>
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->