<h1 class="mt-4 text-center text-white">Profile</h1>

<div class="container mb-5">

  <div class="row mt-4">
    <div class="col-3">
      <ul class="nav nav-pills flex-column bg-dark shadow rounded" style="height: 19.6rem;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Profile</a>
        </li>
        <% if logged_in? && @user == current_user %>
          <li class="nav-item">
            <%= link_to "Settings", edit_user_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-9">

      <div class="card text-white bg-dark shadow rounded" style="height: 19.6rem;">
        <div class="card-body">
          <div class="container">
            <fieldset disabled>
              <div class="container">
                <h3 class="text-center">Details</h3>
                <div class="row mt-4">
                  <label for="disabledTextInput" class="col-2 col-form-label text-white">Username</label>
                  <div class="col-10">
                    <input type="text" id="disabledTextInput" class="form-control shadow rounded" placeholder="<%= @user.username %>">
                  </div>
                </div>

                <div class="row mt-4">
                  <label for="disabledTextInput" class="col-2 col-form-label text-white">Email</label>
                  <div class="col-10 mb-5">
                    <input type="text" id="disabledTextInput" class="form-control shadow rounded" placeholder="<%= @user.email %>">
                  </div>
                </div>
              </div>
            </fieldset>
            <% if logged_in? && (@user == current_user || current_user.admin?) %>
              <div class="container">
                <div class="mt-4 mb-2 text-center">
                  <a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete Account
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3">
    </div>
    <div class="col-9">
      <div class="flickr_pagination mb-3 mt-3">
        <%= will_paginate @articles, :container => false %>
      </div>
      <% @articles.each do |article| %>
        <div class="card bg-dark shadow rounded">
          <div class="card-header text-white">
            <%= article.user.username %>
            <div class="text-muted text-right">
              <small>Created <%= time_ago_in_words(article.created_at) %> ago</small>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title text-white"><%= article.title %></h5>
            <p class="card-text text-white"><%= truncate(article.description, length: 100) %></p>
            <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
          </div>
        </div>
      <% end %>
      <div class="flickr_pagination mb-4 mt-3">
        <%= will_paginate @articles, :container => false %>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Delete Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-white">
        Are you sure?
        <p>This action will also delete all the articles associated with this account</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Yes", user_path(@user), method: :delete, class: "btn btn-outline-danger" %>
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->